/* * {
  outline: 2px solid red;
} */

@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

html, body {
  height: 100%
}

body {
  display: flex;
}

.side-bar {
  display: flex;
  flex: 2;
  align-items: center;
  background-image: url("pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-banner {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 30px 30px;
  margin-bottom: 70%;
  background-color: rgba(89,109,72, 0.5);
}

.logo-text {
  font-family: norse-bold, sans-serif;
  font-size: 80px;
}

.droso-logo {
  height: 100px;
}

.main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex: 3;
  flex-direction: column;
}

.form-intro-container, .form-button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: whitesmoke;
}

.form-intro-container {
  box-shadow: 0px 1px 2px lightgray;
  flex: 1;
  font-weight: bolder;
  font-size: larger;
  padding: 80px 40px;
  justify-content: end;
}

.form-container {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}

.form-header {
  font-weight: bolder;
  font-size: larger;
}

form {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 10px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 500px;
}

form div {
  display: flex;
  flex-direction: column;
}

.form-button-container {
  box-shadow: inset 0px 2px 2px lightgray;
  flex: 3;
  padding: 20px 40px 30px;
}

.main button {
  color: white;
  font-size: large;
  background-color: #596D48;
  max-width: 250px;
  padding: 10px 40px;
  border: 1px;
  border-radius: 3px;
}

a {
  color: darkgreen;
  font-weight: 900;
  text-decoration: none;
}
input {
  border: 1px solid black;
  border-radius: 3px;
}

input:focus {
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  outline: 1px solid blue;
}

input:invalid {
  outline: 1px solid red;
}