/* * {
  outline: 2px solid red;
} */

body {
  display: flex;
  justify-content: stretch;
}

.side-bar {
  background-image: url("pawel-nolbert-xe-ss5Tg2mo-unsplash.jpg");
}

.logo-banner {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 30px 30px;
  margin-top: 60px;
  opacity: 0.5;
  background-color: #596d48;
  font-size: 40px;
}

.droso-logo {
  height: 100px;
}

.main {
  display: flex;
  flex-direction: column;
}

.form-intro-container, .form-button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: lightgray;
}

.form-intro-container {
  padding: 100px 40px 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}

form {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 500px;
}

form div {
  display: flex;
  flex-direction: column;
}

.form-button-container {
  padding: 10px 40px 30px;
}
